{% extends "base.html" %} {% block content %} {% for election in elections %}

<section>
  <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900">
    {{election["name"]}}
  </p>
</section>

<p class="mt-6 text-2xl font-bold tracking-tight text-gray-900">About</p>

<p class="mt-2">
  On 14 October 2023, Australians voted in a referendum about whether to change
  the Constitution to recognise the First Peoples of Australia by establishing a
  body called the Aboriginal and Torres Strait Islander Voice. It was the first
  referendum of the 21st century.
</p>
<p class="mt-2 font-semibold">The referendum did not pass.</p>
<p class="mt-2 font-semibold">
  The question that was put to the Australian people at the 2023 referendum was:
  "A Proposed Law: to alter the Constitution to recognise the First Peoples of
  Australia by establishing an Aboriginal and Torres Strait Islander Voice. Do
  you approve this proposed alteration?"
</p>

<p class="my-6 text-2xl font-bold tracking-tight text-gray-900">Results</p>
{% include "electorates.html" %} {% include "polling_places.html" %} {% endfor
%} {% endblock %}
